.overlay{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(27, 250, 250, 0.199);
   z-index: 1;
   position: fixed;

   backdrop-filter: blur(3px);
}
.LoginPage{
   width: 35%;
   height: 85%;
   background-color: #fff;
   z-index: 2;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.register{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.inputs{
   display: flex;
   flex-direction: column;
   margin: 10px;
}
#input-name, #input-number{
   direction: rtl;
   padding: 3px;
   background-color: rgba(201, 201, 201, 0.26);
   font-size: 18px;
   margin: 5px;
   border: 1px solid rgba(201, 201, 201, 0.26);
   outline: none;
   border-radius: 10px;
   font-family: vazirmatn400;
}
.submit{
   width: 80%;
   height: 30px;
   font-family: vazirmatn500;
   background-color: rgba(145, 145, 145, 0.26);
   border: 1px solid rgba(145, 145, 145, 0.26);
   border-radius: 10px;
   cursor: pointer;
}
.Login-link{
   color: blue;
}
.Login{
   margin-top: 20px;
   cursor: pointer;
}