.MSG{
   max-width: 55%;
   min-width: 20%;
   display: flex;
   gap: 20px;
   direction: rtl;
   font-size: 15px;
}
.recipient {
   background-color: #588fe29d;
}
.msg-container{
   gap: 0px;
   display: flex;
   flex-direction: column;
   flex: 1;
}
.time-text{
   color: #3d3d3d;
   font-size: 19px;
}

.text{
   padding: 20px;
   border-radius: 10px;
   font-family: vazirmatn400;
}
.avatar-chat{
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 40px;
   position: relative;
   inset: 59% 0 0 0;
}

