.Chat-section {
   display: flex;
   flex-direction: column;
   width: 70%;
   height: 100%;
   margin-left: 16px;
}

.no-chat {
   justify-content: center;
   align-items: center;
}

.No-chat-img {
   background-image: url(../../../../assets/chat.svg);
   background-size: 70%;
   width: 50%;
   height: 50%;
   background-repeat: no-repeat;
   margin-left: 50px;
   opacity: 0.85;
}

.chat-info {
   background-color: #fff;
   width: 100%;
   height: 9%;
   border-radius: 14px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
      0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07),
      0 8px 16px rgba(0, 0, 0, 0.07),
      0 16px 32px rgba(0, 0, 0, 0.07),
      0 32px 64px rgba(0, 0, 0, 0.07);
}

.user-chat {
   width: 40%;
   height: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.user-avatar {
   width: 11%;
   height: 70%;
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: vazirmatn500;
   margin-left: 20px;
}

.information {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-left: 20px;
}

.user-name {
   margin-right: auto;
   font-size: 18px;
   color: #555e66;
}

.user-number {
   font-size: 14px;
   font-family: vazirmatn700;
   color: #9299a1;
}

.block-user {
   background-color: red;
   width: 9%;
   font-family: vazirmatn500;
   height: 70%;
   border-radius: 10px;
   border: none;
   cursor: pointer;
   margin-right: 10px;
   color: #fff;
}

.block-user:hover {
   border: 2px solid red;
   background-color: rgba(255, 0, 0, 0.459);
   color: #00000079;
}


.chat-persons {
   max-height: 83%;
   overflow-y: auto;
   overflow-x: hidden;
}

.chat-persons::-webkit-scrollbar {
   width: 5px;
   cursor: grab;
}

.chat-persons::-webkit-scrollbar-thumb {
   background-color: #4a84db9d;
   border-radius: 10px;
}

.chat-persons::-webkit-scrollbar-thumb:hover {
   background-color: #4a84db;
   cursor: grab;
}

.chat-persons::-webkit-scrollbar-track {
   background: none;
}
.chat-persons{
   padding: 20px;
   flex: 1;
   overflow-y: auto;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.Messages{
   max-width: 100%;
   display: flex;
   gap: 20px;
}
.sander-container{
   align-self: flex-end;

}
.avatar-show{
   width: 37px;
   height: 37px;
   border-radius: 50%;
   background-color: #4a84db;
   object-fit: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   align-self: center;
}
.texts{
   display: flex;
   flex-direction: column;
   gap: 5px;
}
.texts p {
   padding: 20px;
   color: #eeeeee;
}
.receiver-message{
   background-color: #5183fe;
   border-radius: 10px;
   border-bottom-left-radius: 0px;
}
.sender-message{
   background-color: #32bb44;
   border-radius: 10px;
   border-bottom-right-radius: 0px;
}
span{
   font-size: 14px;
}
.time-left{
   align-self: flex-end;
}
.container-no-messages {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 85%;
}
.no-messages{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 20vh;
   height: 30px;
   background-color: #5e5e5e34;
   border-radius: 15px;

}
.text-no-messages{
   color: #fff;
   font-size: 20px;
}
/* sand section */
.sand-message {
   background-color: #fff;
   width: 100%;
   height: 8%;
   border-radius: 14px;
   display: flex;
   align-items: center;
   justify-content: end;
   margin-top: auto;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
      0 2px 4px rgba(0, 0, 0, 0.07),
      0 4px 8px rgba(0, 0, 0, 0.07),
      0 8px 16px rgba(0, 0, 0, 0.07),
      0 16px 32px rgba(0, 0, 0, 0.07),
      0 32px 64px rgba(0, 0, 0, 0.07);
}

.fa-paper-plane {
   font-size: 24px;
   padding: 10px;
   margin-right: 10px;
   color: #4d89ce;
   cursor: pointer;
}

.emoji {
   position: relative;
}

.fa-face-laugh-beam {
   font-size: 24px;
   padding: 10px;
   margin-right: 10px;
   color: #9aa2ab;
   cursor: pointer;
   margin: 0px 10px;
}

.picker {
   position: absolute;
   left: 40px;
   bottom: 100%;
}

.text-input {
   width: 78%;
   height: 90%;
   font-size: 15px;
   margin-right: 10px;
   font-family: vazirmatn400;
   direction: rtl;
   caret-color: #555e66;
   border: none;
}

.text-input:focus {
   outline: none;
   border: none;
}

.text-input::placeholder {
   color: #9aa2ab;
}

.icon-attach {
   font-size: 24px;
   padding: 10px;
   margin-right: 10px;
   color: #9aa2ab;
   cursor: pointer;
}

.blocked {
   align-items: center;
   justify-content: center;
   cursor: pointer;
   color: #8b98a8;
}




.context-menu {
   position: absolute;
   background-color: white;
   border: 1px solid #ccc;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
   z-index: 1000;
   border-radius: 6px;
   width: 100px;
}

.context-menu button {
   display: block;
   width: 100%;
   padding: 10px;
   border: none;
   background: none;
   cursor: pointer;
   text-align: left;
   font-family: vazirmatn400;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 15px;
}
.Delete:hover{
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   background-color: rgba(255, 0, 0, 0.815);
   color: #ffffff;
   transition:all .5s;
}
.fa-trash{
   color: rgb(255, 0, 0);
}
.Edit:hover{
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
   background-color: rgba(255, 166, 0, 0.89);
   color: #ffffff;
   transition:all .5s;
}
.fa-pen{
   color:orange;
}







